In [7]:
import csv
import pandas as pd
import numpy as np

df1 = pd.read_csv("C:/Users/Ay/OneDrive - Institut Teknologi Sepuluh Nopember/Tesis/Patients/patients.csv", 
                  error_bad_lines=False,sep=',', encoding = 'utf-8')
df2 = pd.read_csv("C:/Users/Ay/OneDrive - Institut Teknologi Sepuluh Nopember/Tesis/Patients/hasdiabetic.csv", 
                  error_bad_lines=False,sep=';', encoding = 'utf-8')

In [8]:
dffinal = df1.merge(df2, on=["subject_id"], how='outer')

In [11]:
dffinal.to_csv("E:/patients.csv",index=False)

In [10]:
dffinal

,subject_id,age,age_group,gender,issmoking,isconsumingalcohol,diabetic
215,2,0.0,baby,M,NaN,NaN,NaN
220,5,0.0,baby,M,NaN,NaN,NaN
221,6,66.0,adult,F,NaN,True,NaN
222,7,0.0,baby,F,NaN,NaN,NaN
223,8,0.0,baby,M,NaN,NaN,NaN
224,9,42.0,adult,M,NaN,NaN,NaN
225,10,0.0,baby,F,NaN,NaN,NaN
226,11,50.0,adult,F,NaN,NaN,NaN
227,12,72.0,adult,M,NaN,NaN,NaN
228,13,40.0,adult,F,NaN,NaN,NaN
229,16,0.0,baby,M,NaN,NaN,NaN
232,18,51.0,adult,NaN,NaN,NaN,NaN
233,19,100.0,>89,M,NaN,NaN,NaN
234,20,76.0,adult,F,NaN,NaN,NaN
0,22,65.0,adult,F,NaN,True,NaN
3,24,39.0,adult,M,True,NaN,NaN
4,25,59.0,adult,M,NaN,True,NaN
5,26,72.0,adult,M,True,True,NaN
6,27,0.0,baby,F,NaN,NaN,NaN
7,28,74.0,adult,M,NaN,NaN,NaN
8,30,100.0,>89,M,NaN,True,NaN
9,31,72.0,adult,M,NaN,True,NaN
10,32,46.0,adult,M,NaN,NaN,NaN
11,33,82.0,adult,M,NaN,NaN,NaN
14,35,69.0,adult,F,NaN,NaN,NaN
18,37,69.0,adult,M,NaN,True,NaN
19,38,76.0,adult,M,NaN,NaN,True
20,39,0.0,baby,F,NaN,NaN,NaN
21,41,57.0,adult,M,True,NaN,NaN
45,42,61.0,adult,M,NaN,NaN,NaN
...,...,...,...,...,...,...,...
88771,99868,20.0,adult,F,NaN,True,NaN
88776,99872,55.0,adult,F,NaN,NaN,NaN
88777,99873,46.0,adult,M,NaN,NaN,NaN
88778,99880,88.0,adult,F,NaN,NaN,NaN
88779,99881,78.0,adult,NaN,NaN,NaN,NaN
88782,99893,NaN,adult,M,NaN,NaN,NaN
88950,99894,60.0,adult,F,NaN,NaN,NaN
88953,99899,87.0,adult,M,True,NaN,NaN
88954,99901,69.0,adult,M,NaN,True,NaN
88955,99903,50.0,adult,M,NaN,NaN,NaN
88956,99912,85.0,adult,M,True,True,NaN
88957,99913,71.0,adult,M,NaN,True,True
88958,99922,69.0,adult,M,NaN,NaN,NaN
88961,99928,21.0,adult,F,NaN,NaN,True
88962,99934,18.0,adult,M,NaN,NaN,NaN
88963,99935,76.0,adult,M,NaN,NaN,NaN
88964,99936,100.0,>89,F,NaN,NaN,NaN
88965,99937,66.0,adult,F,True,NaN,NaN
88975,99944,85.0,adult,F,NaN,NaN,True
88976,99946,50.0,adult,M,NaN,True,NaN
88977,99955,63.0,adult,M,NaN,NaN,NaN
88978,99957,68.0,adult,NaN,NaN,NaN,True
88979,99965,66.0,adult,M,NaN,NaN,NaN
88980,99966,77.0,adult,M,True,NaN,NaN
88981,99973,65.0,adult,NaN,NaN,NaN,NaN
88985,99983,79.0,adult,M,NaN,NaN,True
88986,99985,54.0,adult,M,NaN,NaN,NaN
88987,99991,48.0,adult,M,NaN,True,NaN
88988,99992,66.0,adult,F,NaN,NaN,NaN
89213,99995,NaN,adult,F,True,NaN,NaN

In [9]:
# sorting by first name 
dffinal.sort_values("subject_id", inplace = True) 
  
# dropping ALL duplicte values 
dffinal.drop_duplicates(subset ="subject_id", 
                     keep = False, inplace = True)